@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

/* ✅ Loader */
.loader-wrapper {
    position: fixed;
    inset: 0;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.loader {
    width: 45px;
    height: 45px;
    border: 4px solid #fff;
    border-radius: 50%;
    border-color: #00ff9d transparent #00ff9d transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* ✅ BG Stars Animation */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #0f0f0f;
    top: 0;
    left: 0;
    z-index: -1;
}

.particles::before {
    content: "";
    position: absolute;
    top: 0;
    width: 300%;
    height: 300%;
    background-image: url("https://www.transparenttextures.com/patterns/dark-matter.png");
    animation: moveStars 45s linear infinite;
    opacity: .3;
}

@keyframes moveStars {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-50%);
    }
}

/* ✅ Main Hero Section */
.coming-soon {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80%;
    background: rgba(255, 255, 255, 0.08);
    /* background: transparent; */
    padding: 35px;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    backdrop-filter: blur(2px);
    animation: fadeIn 1.8s ease forwards;
    opacity: 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-img {
    width: 120px;
    margin-bottom: 15px;
}

/* ✅ Glow Effect */
.glow-text {
    font-size: 2.7rem;
    font-weight: 700;
    color: #00ff9d;
    text-shadow: 0 0 12px #00ff9d;
    animation: glowPulse 2.5s infinite;
}

@keyframes glowPulse {

    0%,
    100% {
        text-shadow: 0 0 10px #00ff9d;
    }

    50% {
        text-shadow: 0 0 22px #00ff9d;
    }
}

.tagline {
    color: #fff;
    font-size: 1.05rem;
    margin: 24px 0px;
    opacity: 0.95;
}

/* Countdown */
.countdown {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.box {
    background: rgba(255, 255, 255, 0.15);
    width: 65px;
    height: 65px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box span {
    font-size: 1.4rem;
    font-weight: 600;
}

/* About us section */
.about {
    margin-top: 20px;
    color: #fff;
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.about h2 {
    font-size: 1.3rem;
    margin-bottom: 8px;
    color: #00ff9d;
}

.about p {
    font-size: 0.95rem;
    line-height: 1.4;
    opacity: 0.9;
}


/* ✅ Floating Buttons */
.whatsapp-btn,
.call-btn {
    position: fixed;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    animation: pop .6s ease;
    z-index: 1200;
}

.whatsapp-btn {
    right: 20px;
    background: #25D366;
}

.call-btn {
    right: 80px;
    background: #00a2ff;
}

@keyframes pop {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* Mobile Responsive*/

@media screen and (max-width:768px) {
    .hero-img {
        width: 105px;
    }
}

@media screen and (max-width: 575px) {
    .content {
        padding: 10px;
    }

    .hero-img {
        width: 70px;
    }

    .glow-text {
        font-size: 2.2rem;
    }

    .whatsapp-btn,
    .call-btn {
        height: 45px;
        width: 45px;
    }

    .call-btn {
        right: 20px;
        bottom: 75px;
    }
}

@media screen and (max-width:480px) {

    .hero-img {
        width: 60px;
    }

    .glow-text {
        font-size: 1.8rem;
    }

    .tagline {
        font-size: 1rem;
    }

    .box {
        width: 55px;
        height: 55px;
    }
}

@media screen and (max-width:412px) {
    .about {
        padding: 10px;
    }

    .about p {
        font-size: 0.85rem;
    }
}

@media screen and (max-width:365px) {

    .hero-img {
        width: 55px;
    }

    .glow-text {
        font-size: 1.5rem;
    }

    .tagline {
        font-size: 0.95rem;
        margin: 20px 0;
    }

    .about h2 {
        font-size: 1.1rem;
    }

    .whatsapp-btn,
    .call-btn {
        height: 35px;
        width: 35px;
        bottom: 10px;
        font-size: 18px;
    }

    .call-btn {
        right: 65px;
    }
}